extends layout

block content
  h1= title
  a(href='/bio') My Bio
  p --------------------------------------
  p Welcome to #{title}
  p My name is #{name} Rodney Sturdivant.
  p My address is 6421 Valleybrooke Ct. Arlington, TX. 
  p I love watching sports and love my Dallas teams.
  p My zip code is #{zipcode}.


